In [5]:
import pandas as pd

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
trainData=pd.read_csv('/content/drive/Othercomputers/My Laptop/ME/Spaceship-Titanic/train.csv')
testData=pd.read_csv('/content/drive/Othercomputers/My Laptop/ME/Spaceship-Titanic/test.csv')

In [8]:
trainData.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [9]:
trainData.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [10]:
trd= trainData.drop(['PassengerId','Destination','Name'],axis=1)
ted=testData.drop(['PassengerId','Destination','Name'],axis=1)

In [11]:
trd.head()

,HomePlanet,CryoSleep,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B/0/P,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F/0/S,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A/0/S,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A/0/S,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F/1/S,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [12]:
trd['HomePlanet'].unique()

array(['Europa', 'Earth', 'Mars', nan], dtype=object)

In [13]:
trd.isnull().sum()

HomePlanet      201
CryoSleep       217
Cabin           199
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [14]:
trd['ShoppingMall'].fillna(trd['ShoppingMall'].mean(), inplace=True)
trd['Spa'].fillna(trd['Spa'].mean(), inplace=True)
trd['VRDeck'].fillna(trd['VRDeck'].mean(), inplace=True)

In [15]:
trd['FoodCourt'].fillna(trd['FoodCourt'].mean(), inplace=True)

In [16]:
trd['RoomService'].fillna(trd['RoomService'].mean(), inplace=True)

In [17]:
trd['Age'].fillna(trd['Age'].mean(), inplace=True)

In [18]:
trd['HomePlanet'].fillna(trd['HomePlanet'].mode()[0], inplace=True)

In [19]:
trd['HomePlanet'].value_counts()

Earth     4803
Europa    2131
Mars      1759
Name: HomePlanet, dtype: int64

In [20]:
trd['CryoSleep'].unique()
trd['CryoSleep'].value_counts()

False    5439
True     3037
Name: CryoSleep, dtype: int64

In [21]:
trd['Cabin'].value_counts()

G/734/S     8
G/109/P     7
B/201/P     7
G/1368/P    7
G/981/S     7
           ..
G/556/P     1
E/231/S     1
G/545/S     1
G/543/S     1
F/947/P     1
Name: Cabin, Length: 6560, dtype: int64

In [22]:
trd['VIP'].value_counts()

False    8291
True      199
Name: VIP, dtype: int64

In [23]:
trd['Cabin'].fillna(trd['Cabin'].mode()[0], inplace=True)

In [24]:
trd['VIP'].fillna(trd['VIP'].mode()[0], inplace=True)

In [25]:
trd['CryoSleep'].fillna(trd['CryoSleep'].mode()[0], inplace=True)

In [26]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [27]:
feature_scale=['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']

In [28]:
trd[feature_scale]=scaler.fit_transform(trd[feature_scale])

In [29]:
trd=trd.drop(['Cabin'], axis=1)

In [30]:
#from sklearn.preprocessing import OneHotEncoder
#enc = OneHotEncoder(handle_unknown='ignore')

In [31]:
#CryoSleep_dummies=pd.Series(trd['CryoSleep'])
#CryoSleep_dummies1=pd.get_dummies(CryoSleep_dummies, drop_first=True)
#trd= pd.concat([trd,CryoSleep_dummies1], axis=1 )

In [32]:
feature=['HomePlanet','CryoSleep','VIP']

In [33]:

def label(trd, feature):
    feature_label_name = {ni: n for n, ni in enumerate(set(trd[feature]))}
    return feature_label_name

In [34]:
HomePlanet_label = label(trd, 'HomePlanet')
CryoSleep_label = label(trd, 'CryoSleep')
VIP_label = label(trd, 'VIP')

In [35]:
trd['HomePlanet'] = trd['HomePlanet'].map(HomePlanet_label)
trd['CryoSleep'] = trd['CryoSleep'].map(CryoSleep_label)
trd['VIP'] = trd['VIP'].map(VIP_label)

In [36]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(trd['Transported'])

LabelEncoder()

In [37]:
trd['Transported']=le.transform(trd['Transported'])

In [38]:
trd.head()

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,2,0,0.493671,0,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,0,0,0.303797,0,0.007608,0.000302,0.001064,0.024500,0.001823,1
2,2,0,0.734177,1,0.003001,0.119948,0.000000,0.299670,0.002030,0
3,2,0,0.417722,0,0.000000,0.043035,0.015793,0.148563,0.007997,0
4,0,0,0.202532,0,0.021149,0.002348,0.006428,0.025214,0.000083,1

In [39]:
X_train=trd.loc[:, trd.columns !='Transported']
y_train=trd['Transported']

In [40]:
X_train

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,2,0,0.493671,0,0.000000,0.000000,0.000000,0.000000,0.000000
1,0,0,0.303797,0,0.007608,0.000302,0.001064,0.024500,0.001823
2,2,0,0.734177,1,0.003001,0.119948,0.000000,0.299670,0.002030
3,2,0,0.417722,0,0.000000,0.043035,0.015793,0.148563,0.007997
4,0,0,0.202532,0,0.021149,0.002348,0.006428,0.025214,0.000083
...,...,...,...,...,...,...,...,...,...
8688,2,0,0.518987,1,0.000000,0.228726,0.000000,0.073322,0.003066
8689,0,1,0.227848,0,0.000000,0.000000,0.000000,0.000000,0.000000
8690,0,0,0.329114,0,0.000000,0.000000,0.079687,0.000045,0.000000
8691,2,0,0.405063,0,0.000000,0.035186,0.000000,0.015753,0.134049
8692,2,0,0.556962,0,0.008795,0.157247,0.000000,0.000000,0.000497

In [41]:
y_train

0       0
1       1
2       0
3       0
4       1
       ..
8688    0
8689    0
8690    1
8691    0
8692    1
Name: Transported, Length: 8693, dtype: int64

# **Test Data Processing**

In [42]:
ted['ShoppingMall'].fillna(ted['ShoppingMall'].mean(), inplace=True)
ted['Spa'].fillna(ted['Spa'].mean(), inplace=True)
ted['VRDeck'].fillna(ted['VRDeck'].mean(), inplace=True)

ted['FoodCourt'].fillna(ted['FoodCourt'].mean(), inplace=True)
ted['RoomService'].fillna(ted['RoomService'].mean(), inplace=True)
ted['Age'].fillna(ted['Age'].mean(), inplace=True)

In [43]:
ted['HomePlanet'].fillna(ted['HomePlanet'].mode()[0], inplace=True)

In [44]:
ted['Cabin'].fillna(ted['Cabin'].mode()[0], inplace=True)
ted['VIP'].fillna(ted['VIP'].mode()[0], inplace=True)
ted['CryoSleep'].fillna(ted['CryoSleep'].mode()[0], inplace=True)

In [45]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [46]:
feature_scale=['Age','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
ted[feature_scale]=scaler.fit_transform(ted[feature_scale])
ted=ted.drop(['Cabin'], axis=1)

In [47]:
feature1=['HomePlanet','CryoSleep','VIP']
def label(trd, feature1):
    feature_label_name1 = {ni: n for n, ni in enumerate(set(ted[feature1]))}
    return feature_label_name1

In [48]:
HomePlanet_label1 = label(ted, 'HomePlanet')
CryoSleep_label1 = label(ted, 'CryoSleep')
VIP_label1 = label(ted, 'VIP')

ted['HomePlanet'] = ted['HomePlanet'].map(HomePlanet_label1)
ted['CryoSleep'] = ted['CryoSleep'].map(CryoSleep_label1)
ted['VIP'] = ted['VIP'].map(VIP_label1)

In [49]:
ted.head()

,HomePlanet,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0,1,0.341772,0,0.000000,0.000000,0.00000,0.000000,0.000000
1,0,0,0.240506,0,0.000000,0.000356,0.00000,0.142260,0.000000
2,2,1,0.392405,0,0.000000,0.000000,0.00000,0.000000,0.000000
3,2,0,0.481013,0,0.000000,0.263206,0.00000,0.009121,0.026266
4,0,0,0.253165,0,0.000865,0.000000,0.07658,0.000000,0.000000

In [50]:
ted.isnull().sum()

HomePlanet      0
CryoSleep       0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

In [51]:
trd.isnull().sum()

HomePlanet      0
CryoSleep       0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

In [52]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [53]:
model_param = {
    'DecisionTreeClassifier':{
        'model':DecisionTreeClassifier(),
        'param':{
            'criterion': ['gini','entropy']
        }
    },
        'KNeighborsClassifier':{
        'model':KNeighborsClassifier(),
        'param':{
            'n_neighbors': [5,10,15,20,25]
        }
    },
        'SVC':{
        'model':SVC(),
        'param':{
            'kernel':['rbf','linear','sigmoid'],
            'C': [0.1, 1, 10, 100]
         
        }
    }
}

In [54]:
scores =[]
for model_name, mp in model_param.items():
    model_selection = GridSearchCV(estimator=mp['model'],param_grid=mp['param'],cv=5,return_train_score=False)
    model_selection.fit(X_train,y_train)
    scores.append({
        'model': model_name,
        'best_score': model_selection.best_score_,
        'best_params': model_selection.best_params_
    })

In [55]:
df_model_score = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df_model_score

                    model  best_score                     best_params
0  DecisionTreeClassifier    0.740020        {'criterion': 'entropy'}
1    KNeighborsClassifier    0.781321             {'n_neighbors': 25}
2                     SVC    0.787416  {'C': 100, 'kernel': 'linear'}

In [56]:
model_svc = SVC( C= 100,kernel='rbf')

In [57]:
model_svc.fit(X_train, y_train)

SVC(C=100)

In [58]:
res_prediction = model_svc.predict(ted).astype('bool')

In [59]:
res_prediction

array([ True, False,  True, ...,  True,  True,  True])

In [60]:
submission = pd.DataFrame({
        "PassengerId": testData['PassengerId'],
        "Transported": res_prediction
    })

In [61]:
submission.to_csv('titanic_spaceship_submission.csv', index=False)

# Classification with **XGBoost**

In [62]:
!pip install xgboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.21.6)

In [63]:
import xgboost as xgb

In [64]:
xgb_classifier = xgb.XGBClassifier()

In [65]:
xgb_classifier.fit(X_train,y_train)

XGBClassifier()

In [66]:
xgb_classifier.fit(X_train,y_train)

XGBClassifier()

In [68]:
predictions = xgb_classifier.predict(ted).astype('bool')

In [69]:
predictions

array([ True, False,  True, ...,  True,  True,  True])

In [71]:
submission = pd.DataFrame({
        "PassengerId": testData['PassengerId'],
        "Transported": predictions
    })

In [72]:
submission.to_csv('titanic_spaceship_submission_v0.1.csv', index=False)